<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	
		<link rel="shortcut icon" href="/images/icons/favicon.ico">
        <link rel="apple-touch-icon" sizes="57x57" href="/images/icons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/images/icons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/images/icons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/images/icons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/images/icons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/images/icons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/images/icons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/images/icons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/images/icons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
        <link rel="manifest" href="/images/icons/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/images/icons/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
	
		<title>Rise.Vision - Cryptocurrency and Application Platform</title>
	
		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>
	
		<!-- Bootstrap core CSS -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">

        <link href="/css/icons.css" rel="stylesheet">
        <link href="/css/icons-social.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/helper.css">
		<link href="/css/social-style.min.css" rel="stylesheet">
        <link href="/css/flaticon.css" rel="stylesheet">
	
		<!-- Custom styles for this template -->
		<link href="/css/style.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/u/bs/dt-1.10.12,cr-1.3.2,kt-2.1.2,r-2.1.0,sc-1.4.2,se-1.2.0/datatables.min.css"/>
	
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
		<!--[if lt IE 9]>
		<script src="/js/html5shiv.js"></script>
		<script src="/js/respond.min.js"></script>
		<![endif]-->

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-77339272-1', 'auto');
            ga('send', 'pageview');

        </script>
		
	</head>
	<body>
    <nav class="navbar navbar-default navbar-custom sticky">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/images/logo-white.png" class="logo logo-white" alt="logo"><img src="/images/logo.png" class="logo logo-dark hidden" alt="logo"> </a>
				
            </div>
			
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
					{{# each navLinks}}
                        <li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>
                            <a href="{{ href }}">{{ label }}</a>
                        </li>
					{{/each}}
					{{#if user}}
						<li><a href="/profile">Profile</a></li>
					{{# if user.isAdmin}}
                        <li><a href="/keystone">Admin</a></li>
					{{/if}}
                        <li><a href="/keystone/signout">Sign Out</a></li>
					{{else}}
                        <li><a href="/keystone/signin">Sign In</a></li>
					{{/if}}
                </ul>
                
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
		<div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>
	
    <footer class="footer bg-dark">
        <div class="container">
            
				<div class="row">
					<div class="col-sm-12 text-center">
						<br />
                        <ul class="pe-social">
                            <li><a href="https://facebook.com/risevisionteam"><i class="pe-so-facebook pe-bg pe-5x"></i></a></li>
                            <li><a href="https://twitter.com/risevisionteam"><i class="pe-so-twitter pe-bg pe-5x"></i></a></li>
                            <li><a href="https://plus.google.com/events/c2kbg71mc7ugccddnci03t3v99g"><i class="pe-so-google-plus pe-bg pe-5x"></i></a></li>
							<li><a href="https://bitbucket.org/risevisionfoundation/"><i class="pe-so-bitbucket pe-bg pe-5x"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCYFYYBBErQWNIVneTqWzy9w"><i class="pe-so-youtube-1 pe-bg pe-5x"></i></a></li>
                        </ul>
					</div>
				</div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
					<br />
                    <p class="copyright">© 2016 <a href="https://dontpanic.consulting">Don't Panic Consulting</a></p>
                </div>
            </div> <!-- end row -->
        </div> <!-- end container -->
    </footer>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- Jquery easing -->
    <script type="text/javascript" src="/js/jquery.easing.1.3.min.js"></script>
    <!--sticky header-->
    <script type="text/javascript" src="/js/jquery.sticky.js"></script>    
	<!-- Count down js -->
    <script src="/js/jquery.lwtCountdown-1.0.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/u/bs/dt-1.10.12,cr-1.3.2,kt-2.1.2,r-2.1.0,sc-1.4.2,se-1.2.0/datatables.min.js"></script>
    <!--common script for all pages-->
    <script src="/js/jquery.app.js"></script>
    <script src="/js/bitcoinaddress-bundle.min.js"></script>
    <script>
        $(document).ready(function() {
            var qrcode = new QRCode(document.getElementById("qrcode"), {
                text: "bitcoin:{{user.btcAddress}}",
                width: 256,
                height: 256,
                colorDark : "#000000",
                colorLight : "#ffffff",
                correctLevel : QRCode.CorrectLevel.H
            });
        });
		

    </script>
    <script src="/js/jquery.countdown.min.js"></script>
	{{#if summary.bonusEndTime}}
        <script type="text/javascript">
            $('#clock').countdown({{summary.bonusEndTime}}, function(event) {
                var totalHours = event.offset.totalDays * 24 + event.offset.hours;
                $(this).html(event.strftime(totalHours + ' hr %M min %S sec'));
            });
        </script>	
	{{/if}}
	
	<script src="/js/jquery.vticker.min.js"></script>
	<script type="text/javascript">
        $(function() {
            $('#riseValue').vTicker();
        });
	</script>
	
    <script type="text/javascript">


        (function ($) {
            $.toggleShowPassword = function (options) {
                var settings = $.extend({
                    field: "#password",
                    control: "#toggle_show_password",
                }, options);

                var control = $(settings.control);
                var field = $(settings.field)

                control.bind('click', function () {
                    if (control.is(':checked')) {
                        field.attr('type', 'text');
                    } else {
                        field.attr('type', 'password');
                    }
                })
            };
        }(jQuery));
        //sticky header on scroll
        $(window).load(function() {
            $(".sticky").sticky({topSpacing: 0});
                $('#investmentTable').DataTable( {
                    "scrollY":        	"500px",
                    "scrollCollapse": 	true,
                    "paging":         	false,
                    "select":		  	true,
                    "responsive":	  	true
            } );
			
            $("#genQRCode").click(function() {
                $("#genQRCode").prop("disabled",true);
                $.get("/api/configQR", function(data, status) {
                    var otpCode = new QRCode(document.getElementById("otpQRPNG"), data.uri);
					var secretArr = data.otpSecret.match(/.{1,10}/g);
					$('.qrConfig').removeClass('hidden');
					for (var i = 0; i < secretArr.length; i++) {
                        $('#otpKeyString').append(secretArr[i] + "<br />")	
					}
					
                    $('#otpQR').on('hidden.bs.modal', function (e) {
						$('#otpQRConfirm').modal('show');
						$('#otpConfirmBtn').on('click', function() {
							var d = 'token='+ $('#verifyToken').val();
							$.get('/api/checkOTP?'+d, function (data, status) {
								console.log(data);
								if (data.success === true) {
									$('#otrConfirmBody').html('<h3 class=\'has-error\'>2 Factor Authentication ' +
											'has been configured.</h3>');
                                    $('#qrOTP').remove();
                                    otpCode.clear();
								} else {
                                    $('#otrConfirmBody').html('<h3 class=\'has-error\'>Your Token was not configured ' +
                                            'correctly. Please try again later.</h3>');
                                    otpCode.clear();
								}
							});
						});
                    });
                });
            });
            $.toggleShowPassword({
                field: '#otpSecretKey',
                control: '#showOTPKey'
            });
            $(function () {
                $('[data-toggle="popover"]').popover();
            })
        });
        
        
    </script>
    <!-- Start of risehelp Zendesk Widget script -->
    <script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","risehelp.zendesk.com");
    /*]]>*/</script>
    <!-- End of risehelp Zendesk Widget script -->
		{{{isAdminEditorJS user}}}
	</body>
</html>
