<section class="section">
    <div class="container">
        <h1>Get in touch with our Community Management team!</h1>
    </div>
    <div class="container">
        <div class="row">            <!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
                <div id="flash-messages" class="container">
					{{#if messages.info}}
                        <div class="alert alert-info">
							{{{flashMessages messages.info}}}
                        </div>
					{{/if}}
					{{#if messages.success}}
                        <div class="alert alert-success">
							{{{flashMessages messages.success}}}
                        </div>
					{{/if}}
					{{#if messages.warning}}
                        <div class="alert alert-warning">
							{{{flashMessages messages.warning}}}
                        </div>
					{{/if}}
					{{#if messages.error}}
                        <div class="alert alert-danger">
							{{{flashMessages messages.error}}}
                        </div>
					{{/if}}
                </div>
			{{/if}}
            <!-- The content block should contain the body of your template's content-->
			{{{body}}}
        </div>

        <div class="col-sm-8 col-md-6">

			{{#if signedUp}}
                <h3>Thank you for submitting an enquiry. Someone will get back to you as soon as possible.</h3>
                <button class="btn btn-default"><a href="/keystone/signin">Sign In</a></button>
			{{else}}
                <form method="post">
                    <input type="hidden" name="action" value="contact">
                    <div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
                        <label>Name</label>
                        <input type="text" name="name.full" class="form-control" value="{{formData.[name.full]}}">
						{{#if validationErrors.name}}<span class="help-block">{{validationErrors.name}}</span>{{/if}}
                    </div>
                    <div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control" value="{{formData.email}}">
						{{#if validationErrors.email}}<span
                                class="help-block">{{validationErrors.email.message}}</span>{{/if}}
                    </div>
                    <div class="form-group">
                        <label>Enquiry Type</label>
                        <select name="enquiryType" class="form-control">
							{{#each enquiryTypes}}
                                <option value="{{value}}">{{label}}</option>
							{{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Message</label>
                        <textarea class="form-control" name="message"></textarea>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
			{{/if}}
        </div>
        <div class="col-sm-4 col-md-6">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">How to Contact Us</div>
                <div class="panel-body">
                    <p>We have many ways to get in touch with us. We are very active on our chat, on BitcoinTalk, and on
                        our Atlassian tools. Below is a list of methods by which to interact with Rise.Vision</p>
                </div>

                <!-- Table -->
                <table class="table">
                    <tr>
                        <th>Service</th>
                        <th>Usernames</th>
                    </tr>
					<tr>
						<td><a href="https://twitter.com/risevisionteam">Twitter</a></td>
						<td>@RiseVisionTeam, @jdr0dn3y</td>
					</tr>
					<tr>
						<td><a href="https://facebook.com/risevisionteam">Facebook</a></td>
						<td></td>
					</tr>
					<tr>
						<td><a href="https://reddit.com/risevisionfoundation">Reddit</a></td>
						<td>McVenture, jdr0dn3y</td>
					</tr>
                    <tr>
                        <td><a href="https://bitcointalk.org/index.php?topic=1445947.new#new">BitcoinTalk</a></td>
                        <td>McVenture, scifi-rem, Alty, jdr0dn3y, RiseVision</td>
                    </tr>
                    <tr>
                        <td><a href="https://risevisionfoundation.atlassian.net">Atlassian Tools</a></td>
                        <td>Justin Donnaruma, Steven Remington, Cormac Lucking, Frank Thijssen</td>
                    </tr>
                    <tr>
                        <td><a href="https://www.hipchat.com/gtjX3uPYE">Hipchat - General</a></td>
                        <td>Justin Donnaruma, Steven Remington, Cormac Lucking, Frank Thijssen</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://risevisionfoundation.hipchat.com/invite/576795/b07256e1abd0fccb4377a945f1c5f80d">Hipchat
                                Signup</a></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    </div>
</section>
