<section class="section">
	<div class="container">
		<h1>Password Reset</h1>
	</div>
	<div class="container">
		<div class="row">			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
                <div id="flash-messages" class="container">
					{{#if messages.info}}
                        <div class="alert alert-info">
							{{{flashMessages messages.info}}}
                        </div>
					{{/if}}
					{{#if messages.success}}
                        <div class="alert alert-success">
							{{{flashMessages messages.success}}}
                        </div>
					{{/if}}
					{{#if messages.warning}}
                        <div class="alert alert-warning">
							{{{flashMessages messages.warning}}}
                        </div>
					{{/if}}
					{{#if messages.error}}
                        <div class="alert alert-danger">
							{{{flashMessages messages.error}}}
                        </div>
					{{/if}}
                </div>
			{{/if}}
            <!-- The content block should contain the body of your template's content-->
			{{{body}}}
        </div>

        <div class="col-sm-8 col-md-6">
        	{{#if invalidId}}
				<h3>The password reset link you used is invalid.</h3>
				<button class="btn btn-default"><a href="/keystone/signin">Password Reset</a></button>
			{{else}}
				{{#if isPost}}
					<h3>Your password has been successfully changed.</h3>
				{{else}}
					<form method="post">
						<input type="hidden" name="action" value="contact">
						<div class="row">
             	            <div class="form-group col-md-6 {{#if validationErrors.password}}has-error{{/if}}">
       	             			<label>Password</label>
                            	<input type="password" name="password" placeholder="(required)" class="form-control" value="{{formData.password}}">
									{{#if validationErrors.password}}<span
                                    class="help-block">{{validationErrors.password.message}}</span>{{/if}}
                        	</div>
                        	<div class="form-group col-md-6 {{#if validationErrors.password_confirm}}has-error{{/if}}">
                        	    <label>Confirm Password</label>
                        	    <input type="password" name="password_confirm" placeholder="(required)" class="form-control" value="{{formData.password_confirm}}">
                        	</div>
						</div>
                    	<div class="form-actions">
							<button type="submit" class="btn btn-primary">Send</button>
						</div>
					</form>
				{{/if}}
			{{/if}}
			</div>
		</div>
	</div>
</section>
