<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
				<h1>Settings Reconfigured</h1>
			</div>
		</div>
	</div>
</section>
