<div class="body">

    <section class="section-lg home-alt bg-gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h1>Initial Coin Offering Statistics</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/9hN60Y6GTcU" frameborder="0"
                            allowfullscreen></iframe>

                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">


                    <h1>ICO IS OPEN!</h1>

                    <a type="button" class="btn btn-default btn-lg" href="/signUp">JOIN ICO</a>

                </div>
            </div>

        </div>
    </section>
	<!--
    <section class="section" id="investmentChart">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="title">Investment Chart</h2>
                    <p class="title-alt">Compare our investments, referrals, and bonuses over time.
                    </p>
                </div>
            </div>
            <div class="row">
                <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
                <script src="https://www.amcharts.com/lib/3/serial.js"></script>
                <script src="https://www.amcharts.com/lib/3/plugins/responsive/responsive.min.js" type="text/javascript"></script>
                <script src="https://www.amcharts.com/lib/3/plugins/dataloader/dataloader.min.js"></script>
                <div id="chartdiv"></div>
            </div>
        </div>
    </section>
    -->
    <section class="section bg-white" id="investments">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="title">Investment Table</h2>
                    <p class="title-alt">All investments up until the point of loading the page, including if a referral
                        or bonus was associated with the investment.
                    </p>
                </div>
            </div>
            <div class="row">
                <table id="investmentTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th><strong>Total Investments:</strong> <span
                                class="pull-right">{{summary.investmentCount}}</span></th>
                        <th><strong>Total Invested:</strong> <span class="pull-right">฿{{summary.investedBTC}}</span>
                        </th>
                        <th><strong>Total Bonuses:</strong> <span class="pull-right">฿{{summary.btcBonus}}</span></th>
                        <th><strong>Total RefBonuses:</strong> <span class="pull-right">฿{{summary.btcRefBonus}}</span>
                        </th>
                        <th><strong>Total Referred:</strong> <span class="pull-right">฿{{summary.totalReferred}}</span>
                        </th>
                    </tr>
                    <tr>
                        <th>Deposit Address</th>
                        <th>BTC Amount</th>
                        <th>BTC Bonus</th>
                        <th>Referral Bonus</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
					{{# each investments}}
                        <tr>
                            <td>{{btcAddress}}</td>
                            <td>{{btcAmount}}</td>
                            <td>{{btcBonus}}</td>
                            <td>{{btcRefBonus}}</td>
                            <td>{{goodDate}}</td>
                        </tr>
					{{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
	<!--
    <script>
        var chart = AmCharts.makeChart("chartdiv", {
            "type": "serial",
			"theme": "Dark",
            "responsive": {
                "enabled": true
            },
            "marginRight": 40,
            "marginLeft": 40,
            "mouseWheelZoomEnabled": true,
            "balloon": {
                "borderThickness": 1,
                "shadowAlpha": 0
            },
            "graphs": [{
                "valueField": "btcVolume",
                "balloonText": "Investment Volume: [[btcVolume]]",
                "fillAlphas": 0.9,
                "lineAlpha": 0.2,
                "type": "column"
            }, {
                "valueField": "refVolume",
                "balloonText": "Referral Volume: [[refVolume]]",
                "fillAlphas": 0.9,
                "lineAlpha": 0.2,
                "type": "column",
                "columnWidth": 0.4,
                "clustered": false
            }, {
                "id": "g1",

                "valueField": "btcAmount",
                "balloonText": "BTC Invested: [[btcAmount]]"
            }, {
                "id": "g2",
                "valueField": "btcRefBonus",
                "balloonText": "Referral Bonus: [[btcRefBonus]]"
            }, {
                "id": "g3",
                "valueField": "btcBonus",
                "balloonText": "Investment Bonus: [[btcBonus]]"
            }],
            "chartScrollbar": {
                "graph": "g1",
                "oppositeAxis": false,
                "offset": 30,
                "scrollbarHeight": 80,
                "backgroundAlpha": 0,
                "selectedBackgroundAlpha": 0.1,
                "selectedBackgroundColor": "#888888",
                "graphFillAlpha": 0,
                "graphLineAlpha": 0.5,
                "selectedGraphFillAlpha": 0,
                "selectedGraphLineAlpha": 1,
                "autoGridCount": true,
                "color": "#AAAAAA"
            },
            "chartCursor": {
                "valueLineEnabled": true,
                "valueLineBalloonEnabled": true,
                "cursorAlpha": 1,
                "cursorColor": "#258cbb",
                "limitToGraph": "g1",
                "valueLineAlpha": 0.2,
                "valueZoomable": true
            },
            "categoryField": "date",
            "categoryAxis": {
                "parseDates": true,
                "dateFormats": [
                    {"period": "hh", "format": "JJ:NN"},
                    {"period": "DD", "format": "MMM DD"}
                ],
                "minPeriod": "hh",
                "maxSeries": 0
            },
            "export": {
                "enabled": true
            },
            "dataLoader": {
                "url": "/api/investments",
                "format": "json"
            }
        });
    </script>
    -->
</div>
