/* Demo Only */
.logo-demo {
  float: none !important;
  text-align: center;
}

.logo-demo .navbar-brand {
  float: none !important;
}
.logo-demo .navbar-brand .logo {
  max-width: 230px !important;
  margin-top: 50px;
}


.home-demo {
  padding-top: 30px;
  padding-bottom: 100px;
}

.demo-box {
  padding: 20px 0 30px 0; 
  text-align: center;
}
.demo-box img {
  
}

.demo-box:hover img {
    border: 7px solid #ddd;
}
.demo-box img {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    background-color: #eee;
    border: 7px solid #eee;
    -webkit-transition: all 400ms ease-in-out;
       -moz-transition: all 400ms ease-in-out;
         -o-transition: all 400ms ease-in-out;
            transition: all 400ms ease-in-out;
}

.demo-box h4 {
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  margin-top: 20px;
}

.demo-badge {
  width: 70px;
    background-color: #43D1A3;
    color: #fff;
    font-weight: bold;
    position: absolute;
    z-index: 9;
    line-height: 30px;
    left: 50%;
    margin-left: -35px;
    border-radius: 3px;
}